$theme-orchid: #c04bf2;
$theme-blue: #5c57f2;
$theme-charcoal: #2a4359;
$theme-skyblue: #05c7f2;
$theme-orange: #f27405;
$theme-stale-grey: #6b7e92;
$theme-stale-light-grey: #aeb8c2;
$theme-stale-light-grey-2: #cbd8e1;
$theme-light-grey: #f2f2f2;

$side-menu-w: 300px;

body {
  font-family: 'WorkSans', 'SpaceGrotesk', sans-serif;
  font-size: 14px;
}

input {
  --tw-ring-shadow: 0 0 #000 !important;
}

textarea {
  --tw-ring-shadow: 0 0 #000 !important;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin icon-button-styles($bg-color, $size) {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 14px;
  cursor: pointer;

  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  align-self: flex-end;
  width: $size;
  height: $size;
  margin-bottom: 12px;

  position: relative;
  padding: 8px;

  background-color: $bg-color;
  box-shadow: 0 4px 6px $theme-stale-light-grey;

  &:hover:not(:disabled) {
    background-color: darken($bg-color, 10%);
    cursor: pointer;
  }
}

@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    border-radius: 10px !important;
    height: 10px !important;
    width: 8px !important;
  }

  &::-webkit-scrollbar-thumb {
    background: #999 !important;
    border-radius: 10px !important;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px !important;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent !important;
  }
}
