@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: bold;
  src: url('/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: light;
  src: url('/fonts/SpaceGrotesk-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: medium;
  src: url('/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: normal;
  src: url('/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: semibold;
  src: url('/fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: black;
  src: url('/fonts/WorkSans-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: black;
  font-style: italic;
  src: url('/fonts/WorkSans-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: bold;
  src: url('/fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/WorkSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 800;
  src: url('/fonts/WorkSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 800;
  font-style: italic;
  src: url('/fonts/WorkSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 200;
  src: url('/fonts/WorkSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 200;
  font-style: italic;
  src: url('/fonts/WorkSans-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-style: italic;
  src: url('/fonts/WorkSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 300;
  src: url('/fonts/WorkSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/WorkSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 500;
  src: url('/fonts/WorkSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/WorkSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 400;
  src: url('/fonts/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 600;
  src: url('/fonts/WorkSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/WorkSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 100;
  src: url('/fonts/WorkSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 100;
  font-style: italic;
  src: url('/fonts/WorkSans-ThinItalic.ttf') format('truetype');
}
